<html ng-app="voicePlay">

<head>
    <link rel="stylesheet" href="microphone/microphone.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="voiceController as voice">
<!-- [if safari]> <script> alert("this is safari")</script> -->
    <div id="mainContainer">
    <header>
        <div>
            <img src="images/menu.png" ng-click="voice.showControls = 'show'">
            <img src="images/mic.png" ng-hide="voice.showIt" ng-click="voice.showIt='micContainerShow'" style="height: 50px; width: 30px;">
            <img src="images/mic.png" ng-show="voice.showIt" ng-click="voice.showIt=''" style="height: 50px; width: 30px;">
            <!-- <img src="images/radio.png" ng-click="voice.showIt='micContainerShow'" style="width: 50px;"> -->
        </div>
        <h1>Voice Play</h1>
    </header>
    <div class="controls" ng-class="voice.showControls">
        <button ng-click="voice.hideBoth()" style="text-align: right;">X</button>
        <!-- <button ng-click="voice.showIt='micContainerShow'" ng-hide="voice.showIt">Show Mic</button>
        <button ng-click="voice.showIt=''" ng-show="voice.showIt">Hide Mic</button> -->
        <!-- <button ng-hide="voice.vis" ng-click="voice.show()">Hide Music</button> -->

        <img src="images/radio.png" ng-hide="voice.vis" ng-click="voice.show()" style="width: 50px;">


        <!-- <button ng-show="voice.vis" ng-click="voice.hide()">Show Music</button> -->

        <img src="images/radio.png" ng-show="voice.vis" ng-click="voice.hide()" style="width: 50px;">


    </div>




    <div class="micContainerBase" ng-class="voice.showIt">
        <center>
            
            <p>SPEAK A COMMAND</p>
            <div id="microphone"></div>

        </center>
        <div id="info"></div>
        <button style="color: inherit; text-decoration: underline;" ng-click="voice.showIt=''">Close</button>
        <div id="develop">
            <pre id="result"></pre>
            <div id="error"></div>
        </div>

    </div>
    <section>
        <P>This is the site where you can play the music you want! Using the Wit.ai api along with SoundClound you can find the playlists you want</P>
    </section>
    <section>
        <p>Here is how it works:</p>
        <ul>
            <li>Use the menu to the left</li>
            <li>Expose the microphone and speak your command (i.e. "Play some __" or "Play the song __ by __.")</li>
            <li>The song will play shortly after</li>
            <li>You can then hide both the SoundCloud iframe as well as the Microphone</li>
            <li>ENJOY!</li>
        </ul>
    </section>
    <footer class="scContainer" ng-hide="voice.getSuccess">
        <div id="soundCloud"></div>
    </footer>
    </div>




    <!-- Angular -->
    <script src="angular.js"></script>
    <!-- Wit.ai api microphone -->
    <script src="microphone/microphone.min.js"></script>
    <!-- SoundCloud api -->
    <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
    <!-- App Javascript -->
    <script src="app.js"></script>

    <script type="text/javascript">
        var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            // Opera 8.0+ (UA detection to detect Blink/v8-powered Opera)
        var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+
        var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
            // At least Safari 3+: "[object HTMLElementConstructor]"
        var isChrome = !!window.chrome && !isOpera;              // Chrome 1+
        var isIE = /*@cc_on!@*/false || !!document.documentMode; // At least IE6

            if(!isChrome && !isFirefox){
               
                
                 var main = document.getElementById('mainContainer');
                 var body = main.parentNode;
                 var err = document.createElement("div");
                 err.setAttribute("class", "safari");
                 err_content = document.createTextNode('Working thru Compatibily issues: Please use Firefox or Chrome :)')
                 err.appendChild(err_content);
                body.replaceChild(err, main);
            }



    </script>
</body>

</html>
