<html ng-app="voicePlay">
  <head>
    <link rel="stylesheet" href="microphone/microphone.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="voiceController as voice">

<button ng-hide="voice.vis" ng-click="voice.show()">Hide</button>
<button ng-show="voice.vis"  ng-click="voice.hide()">Show</button>
    <div id="micContainer">
      <center><div id="microphone"></div></center>
      <pre id="result"></pre>
      <div id="info"></div>
      <div id="error"></div>
    </div>

    <br>
    <br>
    <br>

    <div id="scContainer" ng-hide="voice.getSuccess">
      <div id="soundCloud" ></div>
    </div>

    


    <!-- Angular -->
    <script src="angular.js"></script>
    <!-- Wit.ai api microphone -->
    <script src="microphone/microphone.min.js"></script>
    <!-- SoundCloud api -->
    <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
    <!-- App Javascript -->
    <script src="app.js"></script>
    


  </body>
  </html>