* {
    margin: 0;
    padding: 0;
    outline: none;
}

body{
	font-family: helvetica neue;
	background: -webkit-linear-gradient(to top left, rgba(30, 139, 242,1), rgba(130, 185,242,1)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(to top left, rgba(30, 139, 242,1), rgba(130, 185,242,1)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(to top left, rgba(30, 139, 242,1), rgba(130, 185,242,1)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to top left, rgba(30, 139, 242,1), rgba(130, 185,242,1)); /* Standard */
    background: linear-gradient( to top left, rgba(30, 139, 242,1), rgba(130, 185,242,1)); /* Standard syntax */
}

header{
	display: flex;
	color: white;
}


/* STYLING FOR MIC*/
.micContainerBase {
    width: 75%;
    padding: 10px;
    text-align: center;
    transform: translateY(-400px);
    background: -webkit-linear-gradient(to bottom right, white 65%, rgba(255, 255,255,.01)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(to bottom right, white 65%, rgba(255, 255,255,.01)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(to bottom right, white 65%, rgba(255, 255,255,.01)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, white 65%, rgba(255, 255,255,.01)); /* Standard */
    border-radius: 10px;
    margin: 0 auto;
    transition: all 1s;
    z-index: -1;
    position: fixed;
    left: 12.5%;
    color: black;
}

.micContainerBase.micContainerShow {
    position: fixed;
    text-align: center;
    transform: translateY(50px);
    transition: all 1s;
    z-index: 5;
    left: 12.5%;
}

/*STYLING FOR SOUNDCLOUD EMBEDDED*/
.scContainer {
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    transition: all 2s;
}

.scContainer.ng-hide {
    transfrom: translateY(600px);
    transition: all 2s;
}

#soundCloud {
    width: 100%;
    margin: 0 auto;
}

/*CONTROL PANEL STYLING*/

.controls {
	transition: all 1s;
	background: linear-gradient(rgba(4, 84, 184, 1), rgba(2, 44, 97, 1));
    border-right: 3px solid white;
    width: 150px;
    height: 100vh;
    position: fixed;
    text-align: center;
    transform: translateX(-150px);
    z-index: 3;
    top: 0;
}

.controls.show{
	transform: translateX(0px);
	transition: all 1s;
	z-index: 3;
	top: 0;
}


/*SPECIFIC ELEMENT CODE*/
button{
	margin: 5px;
	color: white;
	padding: 10px;
	border: none;
	/*border-radius: 5px;*/
	background: none;
	width: 70px;
}

img{
	width: 50px	;
}

h1{
	flex: 2;
	text-align: center;
	font-size: 3em;
}

section{
	color: navy;
	width: 75%;
	margin: 30px auto;
	font-size: 2em;

}

ul{
	width: 85%;
	margin: 0 auto;
}


li{
	list-style-type: none;
	color: rgb(243, 255, 226);
	margin-left: 15px;
	margin-top: 5px;
}

#develop{
    visibility: hidden;
}

.safari{
    width: 100%;
    height: 100vh;
    background: yellow;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    padding-top: 20%;
}
